<ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">
            <mat-icon>home</mat-icon>
        </a></li>
    <li class="breadcrumb-item"><a routerLink="/appointment">Appointment</a></li>
    <li class="breadcrumb-item active">Add Appointment </li>
</ul>
<h1>Add Appointment</h1>

<div class="container-fluid">

  <!-- Quick Summary -->

  <div class="row">
    <div class="col-md-3 form-group">
        <mat-form-field>
            <input matInput placeholder="Patient ID">
          </mat-form-field>
    </div>
    <div class="col-md-3 form-group">
        <mat-form-field>
            <input matInput placeholder="Full Name">
          </mat-form-field>
    </div>
    <div class="col-md-3 form-group">
        <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
    </div>
    <div class="col-md-3 form-group">
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select>
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{gender}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3 form-group">
        <mat-form-field>
            <input matInput placeholder="Contact">
          </mat-form-field>
    </div>
    <div class="col-md-3 form-group">
        <mat-form-field>
            <input matInput placeholder="Address">
          </mat-form-field>
    </div>
    <div class="col-md-3 form-group">
        <mat-form-field>
          <mat-label>Service</mat-label>
          <mat-select>
            <mat-option *ngFor="let service of services" [value]="Service">
              {{service}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    
    <div class="col-md-3 form-group">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Appointment Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    
    <div class="col-md-3 form-group">
        <mat-form-field>
            <input matInput placeholder="Detail">
          </mat-form-field>
    </div>
    <div class="col-md-3 form-group">
        <mat-form-field>
            <input matInput placeholder="Status">
          </mat-form-field>
    </div>
    
 <div class="col-md-3 col-md-3-push form-group">
    <button mat-raised-button>Clear</button>
    <button mat-raised-button color="primary">Submit</button>
 </div>
    
    

  </div>
</div>